*:focus {
  outline: none;
}

body {
  font-size: 10px;
  background: #0D0D0D;
  font-family: work sans, ubuntu;
  color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

h1 {
  font-family: syncopate, work sans;
  font-size: 1.8rem;
  line-height: 2rem;
}

h1 strong {
  color: #DC9DB9;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  padding: 3em 2em 2em;
  top: 0;
  background: #0D0D0D;
  z-index: 999;
}

header .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 820px;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6em;
  list-style-type: none;
  padding: 0.3em 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header .nav-links a {
  color: white;
  padding: 0 0 0 .9em;
  font-size: .9rem;
}

header .nav-links a:hover {
  background: none;
  text-decoration: underline;
}

header .logo {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.wrapper {
  padding: 0 2.1em 0;
  display: block;
}

.hero-image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero-image__container .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -1;
  padding: 1em 0 0;
}

.hero-image__container .hero-img .circle1 {
  background-color: #0416BC;
  content: "";
  border-radius: 100%;
  width: 50px;
  height: 366px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.hero-image__container .hero-img .circle2 {
  background-color: #0416BC;
  content: "";
  border-radius: 100%;
  width: 90px;
  height: 366px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.hero-image__container .hero-img .circle3 {
  background-color: #0416BC;
  content: "";
  border-radius: 100%;
  width: 110px;
  height: 366px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.landing__h1 {
  font-family: syncopate, work sans;
  font-size: 1.8rem;
  margin-top: 1.5em;
  line-height: 2rem;
  margin-bottom: 0em;
}

.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.2em;
}

.scroll-down .scroll-down__icon {
  background-color: #0416BC;
  content: "";
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-down .scroll-down__icon svg {
  width: 2rem;
}

.scroll-down p {
  font-size: 1.2rem;
  margin-left: .9em;
  opacity: 70%;
}

h2 {
  font-family: syncopate, work sans;
  font-size: 1.5rem;
  color: #DC9DB9;
  margin: 0 0 1em;
}

section.about-me {
  margin-top: 0;
  padding-top: 8em;
}

section.about-me p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: .9em 0 0;
  opacity: 90%;
}

section.about-me p span {
  color: #DC9DB9;
  text-decoration: underline;
}

.selected-works {
  padding-top: 8em;
}

.selected-works h2 {
  margin: 0 0 1em;
}

div.work-card {
  display: -ms-grid;
  display: grid;
  gap: 1.6em;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'title-pre title-pre' 'project-img project-img' 'content content';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

div.work-card .title-pre {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title-pre;
  margin: 0;
  font-size: .9rem;
  opacity: 70%;
}

div.work-card .content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
}

div.work-card .content p.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

div.work-card .content p.desc {
  font-size: .9rem;
  margin: .4em 0;
  line-height: 1.2rem;
  opacity: 90%;
}

div.work-card .content a.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: .6em;
  gap: .1em;
}

div.work-card .content a.project-link span {
  font-size: .9rem;
}

div.work-card .content a.project-link svg.link-icon {
  width: 24px;
  height: 24px;
  padding-bottom: 0.1em;
}

div.work-card .content a.project-link :hover {
  text-decoration: underline;
}

div.work-card .project-cover {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: project-img;
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
  background-size: cover;
}

.contact-form {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0416BC;
  background-image: url("../img/Background1.2.png");
  background-size: cover;
}

.contact-form h2 {
  text-align: center;
  color: #fff;
  max-width: 85%;
  margin: 2em 0 1.2em;
}

.contact-form h2 strong {
  color: #DC9DB9;
}

.contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  width: 60%;
  margin-bottom: 4em;
}

.contact-form .form .form-input, .contact-form .form .form-button {
  border: none;
}

.contact-form .form .form-input {
  padding: 16px 16px;
  font-weight: bold;
  font-size: .7rem;
  letter-spacing: .1rem;
}

.contact-form .form .form-button {
  background: #0D0D0D;
}

.contact-form .form svg {
  width: 24px;
  height: 24px;
  padding: 4px 4px;
}

.rrss-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5em;
  list-style-type: none;
  padding: .8em 0  0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rrss-links svg {
  height: 24px;
}

.rrss-links .social-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.rrss-links .social-icon:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer p.last-text {
  font-size: 1.2rem;
  text-align: center;
  margin: 3em 0 .2em;
}

.hero__project .scroll-down {
  margin: 8em 0 2em;
}

.hero-container__proyect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  gap: 1.4em;
      grid-template-areas: 'heading-sub heading-sub' 'heading heading' 'hero-img hero-img';
  padding: 1em 0 0;
}

.hero-container__proyect .hero-img__project {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hero-img;
  max-width: 100%;
  border-radius: 4px;
  margin-top: .6em;
}

.hero-container__proyect .project__h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  margin: 0;
}

.hero-container__proyect .hero_pre-tile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading-sub;
  margin: -2em 0 0;
  font-size: 1.6em;
  font-style: italic;
  opacity: 70%;
}

section.description {
  padding-top: 4em;
  margin-bottom: 2em;
}

.title__description {
  margin: 1em 0 2em;
}

.info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr;
      grid-template-columns: .5fr 1fr;
  -ms-grid-rows: .08fr 1fr .08fr .8fr;
      grid-template-rows: .08fr 1fr .08fr .8fr;
  gap: 2em;
      grid-template-areas: 'overview overview' 'desc-overview desc-overview' 'background background' 'desc-background desc-background';
}

.info-grid .more-info__subtitl {
  font-size: 1.2rem;
  margin: 0;
}

.info-grid .subtitle__overview {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: overview;
}

.info-grid .overview__grid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc-overview;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 1.6em;
      grid-template-areas: 'desc desc' 'roles tools' 'time time';
}

.info-grid .overview__grid .poblem-desc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc;
  font-size: 1rem;
  line-height: 1.4rem;
  opacity: 80%;
  margin: .2em 0 1em;
}

.info-grid .overview__grid .more-info__item {
  font-size: .9rem;
  opacity: 80%;
  margin: 0;
}

.info-grid .overview__grid .more-info__div--roles {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: roles;
  margin: 0;
}

.info-grid .overview__grid .more-info__div--tools {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tools;
  margin: 0;
}

.info-grid .overview__grid .more-info__div--time {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: time;
  margin: 0;
}

.info-grid .overview__grid .more-info__sub-title {
  font-size: .9rem;
  font-weight: bold;
}

.info-grid .overview__grid .more-info__list {
  -webkit-padding-start: 18px;
          padding-inline-start: 18px;
  margin: 0;
}

.info-grid .overview__grid .more-info__list li {
  padding-bottom: 8px;
}

.info-grid .subtitle__background {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: background;
}

.info-grid .project-brief {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc-background;
}

.info-grid .project-brief .project-info__sub-title {
  font-size: 1rem;
  font-weight: bold;
  margin: .2em 0 1.2em;
}

.info-grid .project-brief .project-info__desc {
  font-size: .9rem;
  line-height: 1.2rem;
  opacity: 80%;
}

.designs > :last-child {
  margin: 0 0 6em;
}

.title__designs {
  margin-bottom: 2em;
}

.desgin-flex {
  margin: 0 0 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2em 0em;
      grid-template-areas: 'design-desc design-desc' 'design-img design-img';
}

.desgin-flex .design-desc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: design-desc;
  z-index: -1;
}

.desgin-flex .desing__subtitle {
  font-size: 12rem;
  line-height: 4rem;
  font-weight: bold;
  opacity: 15%;
  margin: 0 0 -.3em;
}

.desgin-flex .design__image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: design-img;
  border-radius: 8px;
  max-width: 100%;
}

.reverse .desing__subtitle {
  text-align: end;
}

.design__title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.thanks {
  min-height: 20vh;
  padding-top: 2em;
  text-align: center;
}

.thanks .title__thanks {
  font-size: 1.2rem;
}

.thanks .tanks__desc {
  font-size: 1rem;
  line-height: 1.4em;
  text-align: center;
}

.thanks .tanks__desc span {
  color: #DC9DB9;
  text-decoration: underline;
}

footer {
  min-height: 15vh;
  text-align: center;
  margin-top: 4em;
}

.design-grid__p-p {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2em;
  padding-top: 1em;
      grid-template-areas: 'landing' 'about-me' 'project' 'title-mobile' 'mobile';
}

.design-grid__p-p .p-p__landing {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: landing;
}

.design-grid__p-p .p-p__about-me {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-me;
  margin: auto;
}

.design-grid__p-p .p-p__project-page {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: project;
}

.design-grid__p-p .design__title--mobile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title-mobile;
  margin-bottom: 0;
}

.design-grid__p-p .design-grid__mobile {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: mobile;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: .6em 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      grid-template-areas: 'title-mobile title-mobile' 'landing__mobile about-me__mobile' 'project__mobile about-me__mobile';
}

.design-grid__p-p .design-grid__mobile .p-p__landing--mobile {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: landing__mobile;
  padding-bottom: 4em;
}

.design-grid__p-p .design-grid__mobile .p-p__about-me--mobile {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: about-me__mobile;
  margin: auto;
}

.design-grid__p-p .design-grid__mobile .p-p__project-page--mobile {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: project__mobile;
}

.design-grid__p-p .design-card__p-p .design__sub-title {
  font-size: 1.2rem;
  margin: 1em 0 1.2em;
  font-weight: bold;
  opacity: 90%;
}

.design-grid__p-p .design-card__p-p .p-p__cover {
  max-width: 100%;
}

.space {
  padding: 0 .08em;
}

@media only screen and (min-width: 390px) {
  h1 {
    font-size: 2rem;
    margin-top: 1em;
    line-height: 2.4rem;
  }
  .hero-img {
    padding: 4em 0 0;
  }
  .scroll-down {
    margin-top: 4em;
  }
  .hero__project .scroll-down {
    padding: 0 0 1em;
  }
  .hero-container__proyect {
    padding: 2em 0 0;
    gap: 1.6em;
  }
  .thanks .title__thanks {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 590px) {
  .landing__h1 {
    font-size: 2.8rem;
    margin-top: 0.8em;
    line-height: 3rem;
  }
  .hero-img {
    padding: 4em 0 0;
  }
  .scroll-down {
    margin-top: 4em;
  }
  section.about-me {
    padding-top: 8em;
  }
  section.about-me h2 {
    margin-bottom: 1.4em;
  }
  section.selected-works {
    padding-top: 8em;
  }
  section.selected-works h2 {
    margin-bottom: 1.4em;
  }
  div.work-card {
    display: -ms-grid;
    display: grid;
    gap: 2em;
    -ms-grid-columns: 1fr 60%;
        grid-template-columns: 1fr 60%;
        grid-template-areas: 'title-pre title-pre' 'content project-img';
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 7em;
  }
  div.work-card .title-pre {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title-pre;
    font-size: .9rem;
    opacity: 70%;
  }
  div.work-card .content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: content;
  }
  div.work-card .content p.title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: .9em;
    margin: 0;
  }
  div.work-card .content p.desc {
    font-size: 1rem;
    margin: .8em .8em 0 0;
    line-height: 1.4rem;
    padding-right: 1.4m;
    opacity: 95%;
  }
  div.work-card .content a.project-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    gap: .1em;
    margin-top: 1em;
  }
  div.work-card .content a.project-link span {
    font-size: 1rem;
  }
  div.work-card .content a.project-link svg.link-icon {
    width: 24px;
    height: 24px;
    padding-bottom: 0.1em;
  }
  div.work-card .content a.project-link :hover {
    text-decoration: underline;
  }
  div.work-card .project-cover {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: project-img;
    border-radius: 7px;
    background-size: cover;
  }
  .hero__project .scroll-down {
    margin-top: 2em;
  }
  .hero-container__proyect {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 2fr;
        grid-template-columns: .5fr 2fr;
    -ms-grid-rows: min-content auto;
        grid-template-rows: -webkit-min-content auto;
        grid-template-rows: min-content auto;
    gap: 1em;
        grid-template-areas: 'heading hero-img' 'heading-sub hero-img';
    padding: 6em 0 0;
  }
  .hero-container__proyect .hero-img__project {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: hero-img;
    margin: 0;
  }
  .hero-container__proyect .project__h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: heading;
    margin-right: 1em;
  }
  .hero-container__proyect .hero_pre-tile {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: heading-sub;
  }
  .info-grid {
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 4em;
        grid-template-areas: 'overview desc-overview' 'background desc-background';
  }
  .info-grid .subtitle__overview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: overview;
  }
  .info-grid .overview__grid {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: desc-overview;
    -ms-grid-columns: .8fr 1fr;
        grid-template-columns: .8fr 1fr;
        grid-template-areas: 'desc desc' 'roles tools' 'time time';
  }
  .info-grid .overview__grid .poblem-desc {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: desc;
    margin: .2em 0 1em;
  }
  .info-grid .overview__grid .more-info__div--roles {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: roles;
  }
  .info-grid .overview__grid .more-info__div--tools {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tools;
  }
  .info-grid .overview__grid .more-info__div--time {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: time;
  }
  .info-grid .subtitle__background {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: background;
  }
  .info-grid .project-brief {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: desc-background;
  }
  .info-grid .project-brief .project-info__sub-title {
    margin: .2em 0 1.6em;
  }
  .title__description {
    margin: 1em 0 3em;
  }
  .title__designs {
    margin-bottom: 3em;
  }
  .designs > :last-child {
    margin: 0 0 8em;
  }
  .desgin-flex {
    margin: 0 0 14em;
    -ms-grid-columns: 1fr 2.3fr;
        grid-template-columns: 1fr 2.3fr;
        grid-template-areas: 'design-desc design-img';
  }
  .desgin-flex .design-desc {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: design-desc;
  }
  .desgin-flex .desing__subtitle {
    font-size: 8rem;
    line-height: 5rem;
    margin: 0 0 -.5em;
  }
  .desgin-flex .design__image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: design-img;
  }
  .reverse {
    -ms-grid-columns: 2.3fr 1fr;
        grid-template-columns: 2.3fr 1fr;
        grid-template-areas: 'design-img design-desc';
  }
  .reverse .design__title {
    text-align: end;
  }
  .thanks .title__thanks {
    font-size: 1.6rem;
  }
  .design-grid__p-p {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content auto;
        grid-template-rows: -webkit-min-content auto;
        grid-template-rows: min-content auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 6em 4em;
    padding-top: 2.4em;
        grid-template-areas: 'landing about-me' 'project about-me' 'title-mobile title-mobile' 'mobile mobile';
  }
  .design-grid__p-p .p-p__landing {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: landing;
    margin-bottom: 6em;
  }
  .design-grid__p-p .p-p__about-me {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: about-me;
    margin: auto;
  }
  .design-grid__p-p .p-p__project-page {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: project;
  }
  .design-grid__p-p .design__title--mobile {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title-mobile;
  }
  .design-grid__p-p .design-grid__mobile {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: mobile;
    display: -ms-grid;
    display: grid;
    gap: 2.4em 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
        grid-template-areas: 'title-mobile title-mobile title-mobile' 'landing__mobile about-me__mobile project__mobile';
  }
  .design-grid__p-p .design-grid__mobile .p-p__landing--mobile {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: landing__mobile;
  }
  .design-grid__p-p .design-grid__mobile .p-p__about-me--mobile {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: about-me__mobile;
    margin: 0;
  }
  .design-grid__p-p .design-grid__mobile .p-p__project-page--mobile {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: project__mobile;
  }
  .design-grid__p-p .design-card__p-p .design__sub-title {
    font-size: 1.2rem;
    margin-bottom: 1.2em;
    font-weight: bold;
    opacity: 90%;
  }
  .design-grid__p-p .design-card__p-p .p-p__cover {
    max-width: 100%;
  }
}

@media only screen and (min-width: 920px) {
  body {
    padding: 0 0 0;
  }
  header {
    padding: 2.1 0 0;
  }
  header .nav-links a {
    font-size: 1rem;
  }
  .hero-image__container {
    margin-top: 4.2em;
  }
  .hero-img {
    padding: 0;
  }
  .hero-img .circle1 {
    width: 45px;
    height: 320px;
    -webkit-animation: circle1 2.5s ease-in-out infinite alternate;
            animation: circle1 2.5s ease-in-out infinite alternate;
  }
  .hero-img .circle2 {
    width: 90px;
    height: 320px;
    -webkit-animation: circle2 2.5s ease-in-out infinite alternate;
            animation: circle2 2.5s ease-in-out infinite alternate;
  }
  .hero-img .circle3 {
    width: 180px;
    height: 320px;
    -webkit-animation: circle3 2.5s ease-in-out infinite alternate;
            animation: circle3 2.5s ease-in-out infinite alternate;
  }
  @-webkit-keyframes circle1 {
    0% {
      width: 45px;
    }
    100% {
      width: 200px;
    }
  }
  @keyframes circle1 {
    0% {
      width: 45px;
    }
    100% {
      width: 200px;
    }
  }
  @-webkit-keyframes circle2 {
    0% {
      width: 90px;
    }
    100% {
      width: 60px;
    }
  }
  @keyframes circle2 {
    0% {
      width: 90px;
    }
    100% {
      width: 60px;
    }
  }
  @-webkit-keyframes circle3 {
    0% {
      width: 180px;
    }
    100% {
      width: 45px;
    }
  }
  @keyframes circle3 {
    0% {
      width: 180px;
    }
    100% {
      width: 45px;
    }
  }
  .landing__h1 {
    font-size: 2.1rem;
    margin-top: 2.1em;
    line-height: 2.8rem;
    margin-bottom: 3.6em;
  }
  .scroll-down .scroll-down__icon {
    width: 64px;
    height: 64px;
  }
  h2 {
    font-size: 1.6rem;
    margin-bottom: 1.8em;
  }
  section.about-me {
    margin-top: 4em;
  }
  section.about-me p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: .9em 0 0;
  }
  .selected-works {
    margin-top: 4em;
  }
  .selected-works h2 {
    margin-bottom: 2.4em;
  }
  div.work-card {
    gap: 1.6em;
  }
  div.work-card .content p.desc {
    padding-right: 1.6em;
  }
  div.work-card .content a.project-link {
    margin-top: .8em;
  }
  div.work-card .content a.project-link :hover {
    text-decoration: underline;
  }
  .contact-form {
    min-width: 100vh;
    min-height: 80vh;
    margin-top: 14em;
  }
  .contact-form h2 {
    margin: 0em 0 1.2em;
  }
  .contact-form .form {
    max-width: 820px;
    margin: .4em auto 0;
    width: 55vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #fff;
    border-radius: 50em;
    overflow: hidden;
    border: 0;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  }
  .contact-form .form .form-input {
    border: 0;
    padding: 16px 18px;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: .1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .contact-form .form .form-input:focus::-webkit-input-placeholder {
    color: #0D0D0D;
  }
  .contact-form .form .form-input:focus:-ms-input-placeholder {
    color: #0D0D0D;
  }
  .contact-form .form .form-input:focus::-ms-input-placeholder {
    color: #0D0D0D;
  }
  .contact-form .form .form-input:focus::placeholder {
    color: #0D0D0D;
  }
  .contact-form .form button.form-button {
    background: #0D0D0D;
    padding: 0.8em 0.8em 0.6em 0.8em;
    border: none;
    border-radius: 100%;
    margin-left: auto;
  }
  .contact-form .form button.form-button svg {
    width: 24px;
    height: 24px;
  }
  .contact-form .form button.form-button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .contact-form .form button.form-button:active {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .contact-form h2 {
    max-width: 810px;
    font-size: 2.1rem;
  }
  .rrss-links {
    padding: 0;
    min-height: 16vh;
    gap: 6em;
    margin-top: 0;
  }
  .wrapper {
    width: 820px;
    margin: 0 auto;
  }
  .hero-container__proyect {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    margin-top: 4em;
  }
  .desgin-flex .desing__subtitle {
    font-size: 10rem;
    line-height: 7rem;
    margin: 0 0 -.5em;
  }
  .desgin-flex .design__title {
    font-size: 1.6rem;
  }
  .hero__project .scroll-down {
    padding-top: 2em;
  }
  .thanks {
    min-height: 25vh;
    padding-top: 2em;
  }
  .thanks .tanks__desc {
    font-size: 1rem;
    line-height: 1.4em;
  }
  .thanks .tanks__desc span {
    color: #DC9DB9;
    text-decoration: underline;
  }
  footer {
    min-height: 10vh;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
/*# sourceMappingURL=main.css.map */